.main {
  margin: 0px auto;
  max-width: 700px;
}

@media (max-width: 600px) {
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 24px;
  }

  .main {
    max-width: 90%;
  }

  .speakers {
    grid-template-columns: repeat(2, 1fr);
  }

  .speakers img {
    display: block;
  }
}
